@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* CUSTOM UTILITIES */
.text-w-regular {
  font-weight: 400;
}

.text-w-base {
  font-weight: 500;
}

.text-w-bold {
  font-weight: 600;
}

